<div id="sign_up_form">
  <%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %><%=t(:reg_cancel)%></h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_elem">
    <%= form.label :email, t(:email), style: "display: block" %>
    <%= form.text_field :email, id: "email"%>
  </div>

  <div class="form_elem">
    <%= form.label :password, t(:password), style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="form_elem">
    <%= form.label :password_confirmation, t(:again), style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="form_elem">
    <%= form.label :birth_date, t(:birth), style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>
  <div class="commit_button">
    <%= form.submit t(:submit), class: 'btn btn-danger', id: "log_button"%>
  </div>
<% end %>
</div>
