<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="row">
  <div class="col-sm-3">
    <%= link_to "Удалить учетную запись", @user, class: "btn btn-outline-danger",  method: :delete, :onclick => "return confirm('Вы уверены, что хотите удалить свою учетную запись?')" %>
  </div>
  <div class="col-sm-3">
    <%= link_to "Редактировать профиль", edit_user_path(@user), class: "btn btn-dark" %>
    <%# <%= link_to "Back to users", users_path %> 
  </div>
</div>
