  <p style="color: green"><%= notice %></p>

<% if @user.nil? %>
  <h1><%=t '.delete'%><br>
      <%=t '.see_u'%></h1>
    <img src="https://i.gifer.com/origin/ed/ed2c8e819e41a601637f492c80317ad0.gif" width="auto" height="200px" style="padding-left: 30rem;">
<% end%>

<%= render @user if !@user.nil? %>

<div class="row">
  <div class="col-sm-3">
    <%= button_to t(:delete_acc), @user,  method: :delete, :onclick => "return confirm(#{t(:confirm)})", class: "btn btn-outline-danger"%>
  </div>
  <div class="col-sm-3">
    <%= link_to t(:edit_acc), edit_user_path(@user), class: "btn btn-dark" %>
    <%# <%= link_to "Back to users", users_path %> 
  </div>
  <div class="col-sm-3">
    <%= link_to t(:home), "/", class: "btn btn-dark" %>
  </div>
</div>
