<div class="container-fluid">
<div class="row">
  <div class="col-6">
    <h1><%= t '.welcome' %></h1>
    <p><%=t '.info1'%><br><br>
    <%=t '.info2'%>   
    </p>
  </div>
  <div class="col-6">
    <img src="https://www.ringkas.us/wp-content/uploads/2017/10/Ruby-language.png" 
    width="auto" height="400px" style="padding-left: 4rem; padding-bottom: 2rem;">
  </div>
</div>

<div class="row">
  <p><%=t '.ruby_info'%>
<br>
<%=t '.quote1'%>
<blockquote><em><%=t '.quote2'%></em></blockquote>
</p>
</div>
</div>