<h5 style="color: white;"><%=t(:task1)%></h5>
<div class="row test_ask">
<%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code301)}
  1) #{t(:url_moved)} 2) #{t(:auth_req)} 3) #{t(:serv_in)} 4) #{t(:url_lost)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag("#{t(:answer)} 1", class: 'btn btn-success')%>
  </div>
<% end %>
</div>

<div class="row test_ask">
<%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code200)}
  1) #{t(:auth_req)} 2) #{t(:get_error)} 3) #{t(:url_moved)} 4) #{t(:data_get)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag("#{t(:answer)} 2", class: 'btn btn-success')%>
  </div>
<% end %>
</div>

<div class="row test_ask">
<%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code403)}
  1) #{t(:url_moved)} 2) #{t(:url_blocked)} 3) #{t(:auth_req)} 4) #{t(:get_error)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag("#{t(:answer)} 3", class: 'btn btn-success')%>
  </div>
<% end %>
</div>

<div class="row test_ask">
<%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code500)}
  1) #{t(:data_get)} 2) #{t(:url_blocked)} 3) #{t(:serv_in)} 4) #{t(:url_moved)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag("#{t(:answer)} 4", class: 'btn btn-success')%>
  </div>
<% end %>
</div>

<div class="row test_ask">
<%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code404)}
  1) #{t(:data_get)} 2) #{t(:serv_in)} 3) #{t(:url_lost)} 4) #{t(:auth_req)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag("#{t(:answer)} 5", class: 'btn btn-success')%>
  </div>
<% end %>
</div>

<div class="row test_ask">
  <%= form_tag(:controller => 'testing', :action => 'set_score_test1') do %>
  <%= label_tag(:ans, "#{t(:code401)}
  1) #{t(:serv_in)} 2) #{t(:auth_req)} 3) #{t(:url_moved)} 4) #{t(:data_get)}") %>
  <div>
    <%= select_tag(:ans, options_for_select([1, 2, 3, 4]), prompt: "Ваш ответ")%>
    <%= submit_tag( "#{t(:answer)} 6", class: 'btn btn-success')%>
  </div>
<% end %>
</div>
