<div class="col">
  <h1><%=t(:test_list)%></h1>
  <p style="font-size: x-large;"><%=t(:onthispage)%></p>
</div>

<div class="col-8">
  <div class="row test_list" onmouseover="lighten();">
    <div class="col-sm-1">1
    </div>
    <div class="col-sm-8"><%=t(:statuscode)%>
    </div>
    <div class="col">
      <%= button_to t(:start), {:controller => "testing", :action => "test_choose", :num => 'test1'} , :method => :post, class: 'btn btn-danger' %>
    </div>
  </div>
  <div class="row test_list">
    <div class="col-sm-1">2
    </div>
    <div class="col-sm-8"><%=t(:ruby_coding)%>
    </div>
    <div class="col">
      <%= button_to t(:start), {:controller => "testing", :action => "test_choose", :num => 'test2'} , :method => :post,  class: 'btn btn-danger'%>
    </div>
  </div>
</div>
